@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
	--font-anton: 'Anton', sans-serif;
	--font-space-mono: 'Space Mono', monospace;
	--font-archivo: 'Archivo' sans-serif;

	--color-primary: #f2f0ec;
	--color-secondary: #8b8884;
	--color-tertiary: #b8b5b0;
	--color-background: #0b0b0b;
}

@layer base {
	html {
		@apply scroll-smooth;
	}
	body {
		@apply min-h-full min-w-full bg-background text-base text-secondary;
	}
	h2 {
		@apply font-anton text-6xl leading-16 text-primary uppercase md:text-8xl md:leading-24;
	}
	h3 {
		@apply font-anton text-4xl leading-10 text-primary uppercase;
	}
	section {
		@apply px-8 py-14 md:px-10 md:py-20;
	}
}

@layer components {
	.btn-primary {
		@apply inline-block cursor-pointer bg-primary px-7 py-4 font-space-mono text-sm font-bold text-background uppercase hover:bg-primary/85;
	}
	.btn-secondary {
		@apply inline-block cursor-pointer border border-secondary bg-transparent px-7 py-4 font-space-mono text-sm font-bold text-primary uppercase hover:border-primary;
	}
	.small-border {
		border-bottom: 1px solid rgb(35, 35, 35);
	}
	.section {
		@apply px-8 py-14 md:px-10 md:py-12;
	}
	.social-icon {
		@apply h-6 w-6 fill-secondary hover:fill-primary;
	}
}
