@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
	--font-anton: 'Anton', sans-serif;
	--font-space-mono: 'Space Mono', monospace;
	--font-archivo: 'Archivo' sans-serif;

	--color-primary: #f2f0ec;
	--color-secondary: #8b8884;
	--color-background: #0b0b0b;
}

@layer base {
	body {
		@apply min-h-full min-w-full bg-background text-base text-secondary;
	}
}

@layer components {
	.btn-primary {
		@apply cursor-pointer bg-primary px-7 py-4 font-space-mono font-bold text-background hover:bg-primary/85 uppercase;
	}
	.btn-secondary {
		@apply cursor-pointer border border-secondary bg-transparent px-7 py-4 font-space-mono font-bold text-primary hover:border-primary uppercase;
	}
	.small-border {
		border-bottom: 1px solid rgb(35, 35, 35);
	}
}
